@let(subTitle = 'Photogether')

<!DOCTYPE html>
<html lang="ko" data-theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    @if ($slots.meta)
      {{{ await $slots.meta() }}}
    @endif
    
    <title>
      {{ title ? `${title} | ${subTitle}`: subTitle }}
    </title>

    @vite(['resources/js/app.js','resources/css/app.css'])
  </head>

  <body>
    <div class="flex justify-start">
      <div class="w-full sm:max-w-[300px] border-r fixed inset-0 p-4">
        @!component('shared/components/nav', {  })
      </div>
      <main class="ml-[300px] w-[calc(100%-300px)] p-4">
        {{{ await $slots.main() }}}
      </main>
    </div>
  </body>
</html>
