@let(subTitle = 'Photogether')

<!DOCTYPE html>
<html lang="ko" data-theme="light">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    @if ($slots.meta)
      {{{ await $slots.meta() }}}
    @endif
    
    <title>
      {{ title ? `${title} | ${subTitle}`: subTitle }}
    </title>

    <script src="https://cdn.jsdelivr.net/npm/@hotwired/turbo@8.0.12/dist/turbo.es2017-umd.min.js">
      
    </script>

    @vite(['resources/js/app.js','resources/css/app.css'])
  </head>

  <body>
    <nav class="">
      <ul>
        <li>
          <a class="{{ request.parsedUrl.pathname === '/' ? 'bg-red-500' : '' }}" href="{{ route('dashboard') }}">대시보드</a>
        </li>
        <li>
          <a class="{{ request.parsedUrl.pathname === '/users' ? 'bg-red-500' : '' }}"  href="{{ route('users.index') }}">사용자</a>
        </li>
      </ul>
    </nav>
    <main class="lg:pl-72">
      <div class="px-4 py-10 sm:px-6 lg:px-8 lg:py-6">
        <!-- Main area -->
        {{{ await $slots.main() }}}
      </div>
    </main>
  </body>

</html>
