@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'GothicA1';
  src: url('../assets/fonts/GothicA1-Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'GothicA1';
  src: url('../assets/fonts/GothicA1-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'GothicA1';
  src: url('../assets/fonts/GothicA1-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'GothicA1';
  src: url('../assets/fonts/GothicA1-Black.ttf');
  font-weight: 900;
}

@font-face {
  font-family: 'OpenSans';
  src: url('../assets/fonts/OpenSans-Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'OpenSans';
  src: url('../assets/fonts/OpenSans-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'OpenSans';
  src: url('../assets/fonts/OpenSans-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'OpenSans';
  src: url('../assets/fonts/OpenSans-ExtraBold.ttf');
  font-weight: 900;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: OpenSans, GothicA1, sans-serif;
}
